include:
    - ./src/Infra/WebSocket/centrifugo-compose.yaml
    - ./src/Infra/Chunker/chunker-compose.yaml
    - ./src/Infra/Vespa/vespa-compose.yaml

services:
    backend:
        image: example_project.backend:v1.0
        build:
            context: docker-configs/backend
        working_dir: /app
        command: [ "rr", "serve", "--config", ".rr.dev.yaml" ]
        environment:
            PHP_IDE_CONFIG: "serverName=example-project-docker"
            TERM: "${TERM:-xterm}"
        ports:
            - "127.0.0.1:8080:8080"
            - "127.0.0.1:8083:8083"
            - "127.0.0.1:50051:50051"
            - "127.0.0.1:2112:2112" # rr metrics
            - "127.0.0.1:9501:9501" # open swoole
        volumes:
            - ./docker-configs/backend/ssl/:/app/config/tls/
            - ./docker-configs/backend/configs/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
            - ./docker-configs/backend/configs/php.ini:/usr/local/etc/php/conf.d/php.ini
            - ./docker-configs/backend/configs/.bash_completion:/home/app/.bash_completion
            - ./docker-configs/backend/configs/.bashrc.local:/home/app/.bashrc.local
            - .:/app:cached
            - app_user:/home/app
        extra_hosts:
            host.docker.internal: host-gateway
        depends_on:
            postgresql: { condition: service_started }
            temporal: { condition: service_healthy }
            vespa: { condition: service_healthy }

    dump_server:
        image: example_project.backend:v1.0
        working_dir: /app
        command: [ "vendor/bin/var-dump-server", "--no-ansi", "--host", "0.0.0.0:9912" ]
        volumes: [ .:/app:cached ]
        depends_on: [ backend ]

    postgresql:
        image: postgres:17.0
        command: [ "postgres", "-c", "log_statement=all", "-c", "config_file=/etc/postgresql/postgresql.conf" ]
        healthcheck:
            test: [ "CMD", "pg_isready", "-d", "project_db", "-U", "${DATABASE_USER:-postgres}" ]
            timeout: 5s
            retries: 5
            start_period: 60s
        environment:
            PGDATA: "/var/lib/postgresql/data/pgdata"
            POSTGRES_PASSWORD: "qwerty"
            POSTGRES_DB: "project_db"
            POSTGRES_USER: ${DATABASE_USER:-postgres}
        ports:
            - "127.0.0.1:15432:5432"
        volumes:
            - ./docker-configs/postgresql/postgresql.conf:/etc/postgresql/postgresql.conf
            - "postgres_data:/var/lib/postgresql/data"

    temporal:
        image: temporalio/auto-setup:1.27
        environment:
            DB: 'postgres12'
            POSTGRES_SEEDS: 'postgresql'
            DB_PORT: 5432
            DBNAME: 'temporal'
            POSTGRES_USER: ${DATABASE_USER:-postgres}
            POSTGRES_PWD: "qwerty"
            DYNAMIC_CONFIG_FILE_PATH: 'config/dynamicconfig/development-sql.yaml'
        healthcheck:
            test: [ "CMD", "tctl", "--address", "temporal:7233", "workflow", "list", "||", "exit 1" ]
            start_period: 10s
            start_interval: 1s
        ports:
            - "127.0.0.1:7233:7233"
        volumes:
            - ./docker-configs/temporal:/etc/temporal/config/dynamicconfig
        depends_on: [ postgresql ]

    temporal_ui:
        image: temporalio/ui:v2.38.3
        environment:
            TEMPORAL_ADDRESS: 'temporal:7233'
        ports:
            - "127.0.0.1:8000:8080"
        depends_on: [ temporal ]

    minio:
        image: minio/minio:latest
        entrypoint: sh
        command:
            - -c
            - mkdir -p /data/{bucket1,bucket2,bucket3} &&
                minio server /data --console-address ':9001'
        environment:
            MINIO_ROOT_USER: admin
            MINIO_ROOT_PASSWORD: top-secret
        volumes:
            - minio_data:/data
        ports:
            - '127.0.0.1:9090:9000'
            - '127.0.0.1:9001:9001'

    rabbitmq:
        image: example_project.rabbitmq:v1.0
        build:
            context: docker-configs/rabbitmq
        environment:
            RABBITMQ_DEFAULT_USER: example_user
            RABBITMQ_DEFAULT_PASS: qwerty
        ports:
            - "127.0.0.1:15672:15672"

    redis:
        image: redis:8.0
        ports:
            - "127.0.0.1:16379:6379"

    mailer:
        image: axllent/mailpit
        ports:
            - "1025"
            - "8025"
        environment:
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
    postgres_data: ~
    elastic_data: ~
    minio_data: ~
    app_user: ~
