includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'
    - 'vendor/phpstan/phpstan-doctrine/extension.neon'
    - 'vendor/phpstan/phpstan-symfony/extension.neon'
    - 'vendor/tomasvotruba/type-coverage/config/extension.neon'
    - 'vendor/phpat/phpat/extension.neon'

parameters:
    level: max
    phpVersion: 80502
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        - src
        - tests
        - migrations
    excludePaths:
        - src/Playground/ProxyManager/Autoloader/EntityProxy.php
        - src/Support/Contracts/gen
#    stubFiles:
#        - vendor-bin/linters/stub/ServiceEntityRepository.stub
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    fileExtensions:
        - 'php'
    type_coverage:
        declare: 100
        return_type: 100
        param_type: 100
        property_type: 100
        constant: 0
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: property.unusedType
          message: '#Property .+ is never assigned Temporal\\Internal\\Workflow\\Proxy so it can be removed from the property type\.$#'
        - identifier: return.unusedType
          message: '#^Method .+ never returns Temporal\\Internal\\Workflow\\Proxy so it can be removed from the return type\.$#'
        - identifier: method.notFound
          message: '#^Call to an undefined method .+Temporal\\Internal\\Workflow\\Proxy::\w+\(\).$#'
        - identifier: property.uninitializedReadonly
          message: '#Class App\\(\w+\\)*\w+(Command|Event) has an uninitialized readonly property \$\w+\. Assign it in the constructor\.#'
        - identifier: property.readOnlyAssignNotInConstructor
          message: '#Readonly property App\\(\w+\\)*\w+(Command|Event)::\$\w+ is assigned outside of the constructor\.#'
    phpat:
        ignore_built_in_classes: true
